
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.doctor-room
{
    margin-right: 50px;
    margin-left: 200px;
}

.left-side
{
    text-align: center;



}

.right-side
{
    text-align: center;



}
.center
{
    text-align: center;
    background: white;

}

.list-ul li
{
    padding: 50px 0 50px 0;
    background: lightgrey;


}

.list-ul li > a
{

    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.nav-block
{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main
{
    margin-top: 15px;
}

.center
{
    border-radius: 5px;
    border: 0.5px solid darkgray;
}

.right-side
{
    border-radius: 5px;
    border: 0.5px solid darkgray;


}

.list-ul li {
    opacity: 0.8;
    transition: .3s ease;
}
.list-ul li:hover {
    opacity: 1;
}

.head-center
{
    margin-left: 400px;
}

.head-left
{
    margin-left: 400px;
}

.head-menu
{
    margin-left: 30px;
}

